<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="match_card_app.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="dino.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <match_card_app.Properties.Settings>
            <setting name="cards_count" serializeAs="String">
                <value>10</value>
            </setting>
        </match_card_app.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <dino.Properties.Settings>
            <setting name="themes" serializeAs="String">
                <value>[{"theme":"animais","cards":[{"id":1,"name":"gato","image":"gato.jpg","tag":{"label":"Card 1","id":"123456789ABC"}},{"id":2,"name":"elefante","image":"elefante.jpg","tag":{"label":"Card 2","id":"123456789DEF"}},{"id":3,"name":"carneiro","image":"carneiro.jpg","tag":{"label":"Card 2","id":"123456789GHI"}}]}]</value>
            </setting>
            <setting name="tags" serializeAs="String">
                <value>[{"label":"Card 1","id":"123456789ABC"},{"label":"Card 2","id":"123456789DEF"},{"label":"Card 3","id":"123456789GHI"}]</value>
            </setting>
            <setting name="cards_count" serializeAs="String">
                <value>1</value>
            </setting>
        </dino.Properties.Settings>
    </userSettings>
</configuration>